<div class="row" id="AboutWcbModal">
    <div class="col-xs-4">
        <img src="~/Content/Images/wcb.png" />
    </div>
    <div class="col-xs-8">
        <h3>Qsect's Webchat Builder</h3>
        <div>Version 1.1.0.0</div>
    </div>
</div>
