@model WebchatBuilder.ViewModels.ProfileViewModel

<div class="row">
    <div class="col-xs-12">Are you sure you want to Delete the Profile: @Model.ProfileName ?</div>
    <div class="col-xs-12">
        <div id="DeleteProfileBtn" class="btn btn-danger" data-id="@Model.ProfileId">Delete</div>
    </div>
</div>