#wcb-body {
  width: 100%;
  margin: 0 !important;
  padding: 0 2%;
  height: 100%;
  background-color: #333;
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-scrollbar-face-color: #95a5a6;
  scrollbar-face-color: #95a5a6;
  -ms-scrollbar-track-color: rgba(149, 165, 166, 0.5);
  scrollbar-track-color: rgba(149, 165, 166, 0.5);
}
#wcb-body.wcb-body-iframe {
  margin: 0 !important;
  width: 100%;
  padding: 0 10px;
}
#wcb-body input,
#wcb-body select,
#wcb-body textarea {
  max-width: 100% !important;
  font-size: 16px !important;
}
#wcb-body ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
#wcb-body ::-webkit-scrollbar-thumb {
  background: #95a5a6;
}
#wcb-body ::-webkit-scrollbar-track {
  background: #ecf0f1;
}
@-moz-keyframes wcbfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wcbfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wcbfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#wcb-error {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding: 150px 0;
}
#wcb-chat-container {
  position: relative;
  width: 100%;
  -moz-animation: wcbfadein 1s;
  -o-animation: wcbfadein 1s;
  -webkit-animation: wcbfadein 1s;
  animation: wcbfadein 1s;
  /*#wcb-chat-disconnect {
        display: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        position: absolute;
        right: -5px;
        top: -45px;
        z-index: 9996;
        border: solid 1px red;
        border-radius: 50%;
        padding: 6px 8px;
        text-align: center;
        vertical-align: middle;
        line-height: 22px;
        font-size: 22px;
        color: white;
        background-color: red;
        cursor: pointer;
    }*/
  /*#wcb-chat-disconnect:before {
        content: "\2716";
    }*/
}
#wcb-chat-container #wcb-chat-header {
  color: white;
  min-height: 70px;
  max-height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-left {
  width: 50%;
  float: left;
  overflow: hidden;
  min-height: 70px;
  max-height: 70px;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-left img {
  float: left;
  max-height: 50px;
  max-width: 100%;
  margin: 10px 5px 0 0;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-left h2 {
  float: left;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 26px;
  margin: 20px 0;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right {
  width: 50%;
  float: right;
  margin: 10px 0;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right.wcb-chat-header-show-text img {
  display: none;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right #wcb-print-btn,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right #wcb-transcript-btn {
  background-color: #31b0d5;
  color: white;
  border-color: #269abc;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right #wcb-exit-btn,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right #wcb-chat-disconnect {
  background-color: #d9534f;
  color: white;
  border-color: #d43f3a;
  z-index: 9998;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only#wcb-print-btn,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only#wcb-transcript-btn,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only#wcb-exit-btn,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only#wcb-chat-disconnect {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only:active,
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn-icon-only:focus {
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn {
  margin-left: 5px;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only {
  padding: 0;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only img {
  width: 100%;
  max-width: 50px;
  max-height: 50px;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icons {
  padding: 10px;
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.disabled {
  cursor: default;
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.65);
}
#wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn img {
  width: 30px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 {
  min-height: 55px;
  max-height: 55px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-left {
  width: 55%;
  min-height: 55px;
  max-height: 55px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-left img {
  min-height: 45px;
  max-height: 45px;
  margin: 5px 5px 0 0;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-left h2 {
  font-size: 20px;
  margin: 16px 0;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right {
  width: 45%;
  max-height: 55px;
  min-height: 55px;
  margin: 0;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right.wcb-chat-header-show-text span {
  display: none;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right.wcb-chat-header-show-text img {
  display: block;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right .wcb-chat-btn {
  margin: 10px 0 10px 5px;
  height: 35px;
  width: 35px;
  padding: 7px 6px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only {
  padding: 0;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only img {
  width: 100%;
  max-width: 35px;
  max-height: 35px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icons {
  padding: 7px 6px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-767 #wcb-chat-header-right .wcb-chat-btn img {
  width: 20px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-500 #wcb-chat-header-right .wcb-chat-btn {
  margin: 15px 0 15px 5px;
  height: 25px;
  width: 25px;
}
#wcb-chat-container #wcb-chat-header.wcb-chat-500 #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icons {
  padding: 0;
}
@media (max-width: 767px) {
  #wcb-chat-container #wcb-chat-header {
    min-height: 55px;
    max-height: 55px;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-left {
    width: 60%;
    min-height: 55px;
    max-height: 55px;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-left img {
    min-height: 45px;
    max-height: 45px;
    margin: 5px 5px 0 0;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-left h2 {
    font-size: 20px;
    margin: 16px 0;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right {
    width: 40%;
    max-height: 55px;
    min-height: 55px;
    margin: 0;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right.wcb-chat-header-show-text span {
    display: none;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right.wcb-chat-header-show-text img {
    display: block;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn {
    margin: 10px 0 10px 5px;
    height: 35px;
    width: 35px;
    padding: 7px 6px;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only {
    padding: 0;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icon-only img {
    width: 100%;
    max-width: 35px;
    max-height: 35px;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn.wcb-chat-btn-icons {
    padding: 7px 6px;
  }
  #wcb-chat-container #wcb-chat-header #wcb-chat-header-right .wcb-chat-btn img {
    width: 20px;
  }
}
#wcb-chat-container #wcb-chat-body {
  padding: 15px;
  padding-bottom: 25px;
  background-color: white;
  border: solid 1px rgba(128, 128, 128, 0.6);
  /*height: 300px;*/
  overflow-y: auto;
  border-radius: 4px;
  float: none;
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#wcb-chat-container #wcb-chat-body .chat-system-message {
  clear: both;
  float: none;
  width: 100%;
  background-color: #a7a7a7;
  border-bottom: solid 1px #757575;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  margin: 0 0 1px 0;
  position: relative;
}
#wcb-chat-container #wcb-chat-body .chat-system-message .wcb-pre-agent-image {
  width: 80%;
  display: block;
  min-height: 50px;
}
#wcb-chat-container #wcb-chat-body .chat-system-message .chat-msg-icon {
  padding: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: 0;
  position: absolute;
  max-width: 20%;
  width: 20%;
  min-height: 50px;
}
#wcb-chat-container #wcb-chat-body .chat-system-message .chat-msg-icon img {
  float: right;
  margin: 5%;
  border-radius: 50%;
  max-height: 85%;
  border: solid 2px #333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container #wcb-chat-body .chat-received {
  clear: both;
  float: none;
  margin: 2px 0;
  /*height: 100px;*/
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon {
  float: right;
  width: 100px;
  max-width: 25%;
  margin: 0 0 5px 5px;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-msg-initial-wrapper {
  background-color: gray;
  height: 55px;
  width: 55px;
  border: solid 2px #333;
  border-radius: 50%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1;
  padding: 0;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon img {
  border-radius: 50%;
  width: 50%;
  border: solid 2px #333;
  margin: 0 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-display-name {
  margin-top: 1%;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-display-time {
  font-size: 12px;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text {
  margin-top: 2px;
  margin-bottom: 2px;
  float: right;
  max-width: 50%;
  padding: 15px 30px;
  border: solid 1px #22a7f0;
  background-color: white;
  color: #22a7f0;
  border-radius: 5px;
  position: relative;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text.chat-msg-text-rnd {
  border-radius: 5px 0 5px 5px;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text a,
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text a:hover,
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text a:visited,
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text a:focus {
  color: #22a7f0;
  text-decoration: underline;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text .chat-msg-arrow {
  position: absolute;
  top: 16px;
  right: -10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 10px solid #22a7f0;
}
#wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text .chat-msg-pointer {
  position: absolute;
  top: -1px;
  right: -9px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  /* border-top: 8px solid transparent; */
  border-left: 9px solid #22a7f0;
}
#wcb-chat-container #wcb-chat-body .chat-sent {
  clear: both;
  float: none;
  margin: 2px 0;
  /*height: 100px;*/
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon {
  float: left;
  width: 100px;
  max-width: 25%;
  margin: 0 5px 5px 0;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-msg-initial-wrapper {
  background-color: gray;
  height: 55px;
  width: 55px;
  border: solid 2px #333;
  border-radius: 50%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1;
  padding: 0;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-weight: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon img {
  border-radius: 50%;
  width: 50%;
  border: solid 2px #333;
  margin: 0 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-display-name {
  margin-top: 1%;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-display-time {
  font-size: 12px;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 50%;
  padding: 15px 30px;
  border: solid 1px #22a7f0;
  background-color: #22a7f0;
  color: white;
  border-radius: 5px;
  position: relative;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text.chat-msg-text-rnd {
  border-radius: 0 5px 5px 5px;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text a,
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text a:hover,
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text a:visited,
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text a:focus {
  color: white;
  text-decoration: underline;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text .chat-msg-arrow {
  position: absolute;
  top: 16px;
  left: -10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 10px solid #22a7f0;
}
#wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text .chat-msg-pointer {
  position: absolute;
  top: -1px;
  left: -9px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  /*border-top: 8px solid transparent;*/
  border-right: 9px solid #22a7f0;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 {
  padding: 5px;
  padding-bottom: 25px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-system-message {
  padding: 7px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-system-message .chat-msg-icon {
  margin: 4px 0 0 0;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-icon {
  margin: 4px 0 0 0;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-icon img {
  /*margin: 0 22%;*/
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-icon .chat-display-time {
  font-size: 10px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-icon .chat-msg-initial-wrapper {
  height: 38px;
  width: 38px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
  letter-spacing: 1.5px;
  font-size: 13px;
  line-height: 1;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-text {
  padding: 10px 15px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-text .chat-msg-arrow {
  top: 11px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-received .chat-msg-text .chat-msg-pointer {
  position: absolute;
  top: -1px;
  right: -9px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  /* border-top: 8px solid transparent; */
  border-left: 9px solid #22a7f0;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-icon {
  margin: 4px 0 0 0;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-icon img {
  /*margin: 0 22%;*/
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-icon .chat-display-time {
  font-size: 10px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-icon .chat-msg-initial-wrapper {
  height: 38px;
  width: 38px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
  letter-spacing: 1.5px;
  font-size: 13px;
  line-height: 1;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-text {
  padding: 10px 15px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-text .chat-msg-arrow {
  top: 11px;
}
#wcb-chat-container #wcb-chat-body.wcb-chat-500 .chat-sent .chat-msg-text .chat-msg-pointer {
  position: absolute;
  top: -1px;
  left: -9px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  /*border-top: 8px solid transparent;*/
  border-right: 9px solid #22a7f0;
}
@media (max-width: 500px) {
  #wcb-chat-container #wcb-chat-body {
    padding: 5px;
    padding-bottom: 25px;
  }
  #wcb-chat-container #wcb-chat-body .chat-system-message {
    padding: 7px;
  }
  #wcb-chat-container #wcb-chat-body .chat-system-message .chat-msg-icon {
    margin: 4px 0 0 0;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon {
    margin: 4px 0 0 0;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon img {
    /*margin: 0 22%;*/
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-display-time {
    font-size: 10px;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-msg-initial-wrapper {
    height: 38px;
    width: 38px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
    letter-spacing: 1.5px;
    font-size: 13px;
    line-height: 1;
    padding: 0;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text {
    padding: 10px 15px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text .chat-msg-arrow {
    top: 11px;
  }
  #wcb-chat-container #wcb-chat-body .chat-received .chat-msg-text .chat-msg-pointer {
    position: absolute;
    top: -1px;
    right: -9px;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    /* border-top: 8px solid transparent; */
    border-left: 9px solid #22a7f0;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon {
    margin: 4px 0 0 0;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon img {
    /*margin: 0 22%;*/
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-display-time {
    font-size: 10px;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-msg-initial-wrapper {
    height: 38px;
    width: 38px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-icon .chat-msg-initial-wrapper .chat-msg-initials {
    letter-spacing: 1.5px;
    font-size: 13px;
    line-height: 1;
    padding: 0;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text {
    padding: 10px 15px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text .chat-msg-arrow {
    top: 11px;
  }
  #wcb-chat-container #wcb-chat-body .chat-sent .chat-msg-text .chat-msg-pointer {
    position: absolute;
    top: -1px;
    left: -9px;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    /*border-top: 8px solid transparent;*/
    border-right: 9px solid #22a7f0;
  }
}
#wcb-chat-container #wcb-chat-agent-typing {
  display: none;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.75);
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  padding: 2px 0;
  z-index: 5;
}
#wcb-chat-container #wcb-chat-entry {
  position: relative;
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  padding: 0;
  margin: 15px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options {
  position: absolute;
  top: -35px;
  right: 10px;
  z-index: 9997;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper {
  position: relative;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-dotdotdot {
  display: block;
  opacity: 0.65;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-dotdotdot:hover {
  opacity: 1;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper {
  display: none;
  position: absolute;
  bottom: 22px;
  right: 2px;
  border: solid 1px gray;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper #wcb-print-btn,
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper #wcb-transcript-btn {
  background-color: #31b0d5;
  color: white;
  border-color: #269abc;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn-icon-only#wcb-print-btn,
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn-icon-only#wcb-transcript-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn-icon-only:active,
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn-icon-only:focus {
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  height: 35px;
  width: 35px;
  padding: 7px 6px;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn.wcb-chat-btn-icon-only {
  padding: 0;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn.wcb-chat-btn-icon-only img {
  width: 100%;
  max-width: 35px;
  max-height: 35px;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn.wcb-chat-btn-icons {
  padding: 7px 6px;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-options #wcb-chat-options-wrapper #wcb-chat-option-btn-wrapper .wcb-chat-btn img {
  width: 20px;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-left {
  width: 86%;
  float: left;
  height: 100%;
  margin-right: 2%;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-left #wcb-chat-entry-text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  resize: none;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-left #wcb-chat-entry-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right {
  width: 10%;
  float: left;
  height: 100%;
  margin-left: 2%;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn.disabled {
  cursor: none;
  opacity: 0.7;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper img {
  max-width: 75%;
}
#wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper2 div {
  line-height: 90px;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-1000 #wcb-chat-entry-left {
  width: 80%;
  float: left;
  height: 100%;
  margin-right: 2%;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-1000 #wcb-chat-entry-right {
  width: 16%;
  float: left;
  height: 100%;
  margin-left: 2%;
}
@media (max-width: 1000px) {
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-left {
    width: 80%;
    float: left;
    height: 100%;
    margin-right: 2%;
  }
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right {
    width: 16%;
    float: left;
    height: 100%;
    margin-left: 2%;
  }
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-767 {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 10px 0;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-767 #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-767 #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper div {
  display: none;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-767 #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper img {
  width: 35px;
}
#wcb-chat-container #wcb-chat-entry.wcb-chat-767 #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper2 div {
  line-height: 35px;
}
@media (max-width: 767px) {
  #wcb-chat-container #wcb-chat-entry {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: 10px 0;
  }
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper div {
    display: none;
  }
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper img {
    width: 35px;
  }
  #wcb-chat-container #wcb-chat-entry #wcb-chat-entry-right .wcb-chat-btn #wcb-chat-entry-btn-wrapper2 div {
    line-height: 35px;
  }
}
#wcb-chat-container .wcb-chat-btn {
  padding: 5px 0;
  background-color: white;
  border: solid 1px gray;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  color: #22a7f0;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wcb-chat-container .wcb-chat-btn:active,
#wcb-chat-container .wcb-chat-btn:focus {
  background-color: white;
  border: solid 1px gray;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.65);
}
@media print {
  [id^="wcb"] {
    display: none;
  }
  [class^="wcb"] {
    display: none;
  }
}
/*# sourceMappingURL=StandardChat.css.map */